/* Barlow Semi Condensed */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap");
/* Cedarville Cursive */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Recursive:wght@300;400;500;600;700;900&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
/* Tangerine */
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: lato, sans-serif;
}

nav .container .navbar-brand img {
  width: 275px;
  transition-duration: 0.2s;
}
nav .container .navbar-brand img:hover {
  opacity: 0.5;
}

.welcome {
  width: 100%;
}
.welcome .welcome-banner {
  width: 100%;
  height: 500px;
  background-color: black;
  padding-top: 30px;
}
.welcome .welcome-banner .mission-statement,
.welcome .welcome-banner .mission-statement-two {
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.welcome .welcome-banner .mission-statement {
  font-size: 4rem;
  font-family: tangerine, Arial, Helvetica, sans-serif;
}
.welcome .welcome-banner .mission-statement-two {
  font-size: 1.5rem;
  font-family: recursive, Arial, Helvetica, sans-serif;
}
.welcome .welcome-banner .schedule-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  margin: 0 auto;
  color: white;
  margin-top: 40px;
}
.welcome .welcome-banner .schedule-grid .grid-item {
  width: 100%;
  justify-self: center;
  text-align: center;
}
.welcome .welcome-banner .schedule-grid .grid-item .item-title {
  font-size: 1.5rem;
}
.welcome .welcome-banner .schedule-grid .grid-item .item-time {
  font-size: 1.1rem;
}
.welcome .welcome-banner .schedule-grid .grid-item.item-1,
.welcome .welcome-banner .schedule-grid .grid-item.item-2 {
  border-right: 1px solid white;
}
.welcome .welcome-banner .info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 40%;
  margin: 0 auto;
  margin-top: 60px;
}
.welcome .welcome-banner .info-grid .info-link {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: black;
  background-color: white;
  width: 175px;
  text-align: center;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 12px;
  font-size: 1.2rem;
  transition-duration: 0.25s;
}
.welcome .welcome-banner .info-grid .info-link:hover {
  background-color: black;
  color: white;
}
.welcome .welcome-banner .info-grid .livestream-flex {
  background-color: black;
  width: 175px;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid grey;
  border-radius: 12px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.2s;
}
.welcome .welcome-banner .info-grid .livestream-flex div {
  margin-right: 5px;
  color: white;
}
.welcome .welcome-banner .info-grid .livestream-flex svg {
  color: red;
}
.welcome .welcome-banner .info-grid .livestream-flex:hover {
  background-color: white;
  border: 2px solid white;
}
.welcome .welcome-banner .info-grid .livestream-flex:hover div {
  color: red;
}
.welcome .upcoming-events-banner {
  width: 100%;
  height: 400px;
  background-color: white;
  padding-top: 30px;
}
.welcome .upcoming-events-banner .event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  height: 95%;
  margin-left: 50px;
}
.welcome .upcoming-events-banner .event-grid .event.full-calendar {
  height: 100%;
  width: 80%;
  border-radius: 0px 50% 50% 0px;
  display: flex;
  align-items: center;
  background-color: black;
}
.welcome .upcoming-events-banner .event-grid .event.full-calendar > div:nth-child(1) {
  margin: 0 auto;
  width: 80%;
  color: white;
}
.welcome .upcoming-events-banner .event-grid .event.full-calendar > div:nth-child(1) > div:nth-child(1) {
  font-size: 2.5rem;
}
.welcome .upcoming-events-banner .event-grid .event.event-item-1,
.welcome .upcoming-events-banner .event-grid .event.event-item-2,
.welcome .upcoming-events-banner .event-grid .event.event-item-3 {
  height: 80%;
  margin: 0 auto;
  width: 95%;
  border: 1px solid gray;
  align-self: center;
}
.welcome .upcoming-events-banner .event-grid .event.event-item-1 > div:nth-child(1),
.welcome .upcoming-events-banner .event-grid .event.event-item-2 > div:nth-child(1),
.welcome .upcoming-events-banner .event-grid .event.event-item-3 > div:nth-child(1) {
  height: 80%;
}
.welcome .upcoming-events-banner .event-grid .event.event-item-1 > div:nth-child(1) img,
.welcome .upcoming-events-banner .event-grid .event.event-item-2 > div:nth-child(1) img,
.welcome .upcoming-events-banner .event-grid .event.event-item-3 > div:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.welcome .upcoming-events-banner .event-grid .event.event-item-1 > div:nth-child(2),
.welcome .upcoming-events-banner .event-grid .event.event-item-2 > div:nth-child(2),
.welcome .upcoming-events-banner .event-grid .event.event-item-3 > div:nth-child(2) {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}
.welcome .upcoming-events-banner .event-grid .event.event-item-1,
.welcome .upcoming-events-banner .event-grid .event.event-item-2 {
  margin-right: 20px;
}

footer {
  background-color: black;
  color: white;
  height: 250px;
  display: flex;
  align-items: center;
}
footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 90%;
  margin: 0 auto;
}
footer .footer-grid .footer-item.item-1 img {
  width: 60%;
}
footer .footer-grid .footer-item.item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .footer-grid .footer-item.item-2 > div:nth-child(1) {
  display: flex;
  text-align: center;
}
footer .footer-grid .footer-item.item-2 > div:nth-child(1) > div:nth-child(1),
footer .footer-grid .footer-item.item-2 > div:nth-child(1) > div:nth-child(2) {
  margin-right: 20px;
}
footer .footer-grid .footer-item.item-2 > div:nth-child(2) {
  width: 100%;
  padding: 10px 0;
}
footer .footer-grid .footer-item.item-3 {
  display: flex;
  align-self: center;
  justify-self: center;
}
footer .footer-grid .footer-item.item-3 a svg {
  width: 100%;
  margin: 0 10px;
}

@media (max-width: 1400px) {
  .welcome .welcome-banner .schedule-grid {
    width: 70%;
  }
  .welcome .welcome-banner .info-grid {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .welcome .upcoming-events-banner .event-grid {
    width: 97%;
    margin-left: 20px;
  }
  .welcome .upcoming-events-banner .event-grid .event.full-calendar {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .welcome .welcome-banner .schedule-grid {
    width: 80%;
  }
  .welcome .welcome-banner .info-grid {
    width: 80%;
  }
  .welcome .upcoming-events-banner {
    height: 500px;
  }
  .welcome .upcoming-events-banner .event-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .welcome .upcoming-events-banner .event-grid .event.full-calendar {
    grid-column: span 3;
    border-radius: 12px;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
  }
  .welcome .upcoming-events-banner .event-grid .event.event-item-1,
  .welcome .upcoming-events-banner .event-grid .event.event-item-2,
  .welcome .upcoming-events-banner .event-grid .event.event-item-3 {
    height: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .welcome .welcome-banner .mission-statement {
    font-size: 2.4rem;
  }
  .welcome .welcome-banner .mission-statement-two {
    font-size: 1.1rem;
  }
  .welcome .welcome-banner .schedule-grid {
    width: 95%;
    margin-top: 30px;
  }
  .welcome .welcome-banner .schedule-grid .grid-item .item-title {
    font-size: 1.1rem;
  }
  .welcome .welcome-banner .schedule-grid .grid-item .item-time {
    font-size: 1.1rem;
  }
  .welcome .welcome-banner .info-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .welcome .welcome-banner .info-grid .info-link,
  .welcome .welcome-banner .info-grid .livestream-flex {
    padding: 7px;
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  .welcome .upcoming-events-banner {
    padding-top: 10px;
    height: 100%;
    padding-bottom: 50px;
  }
  .welcome .upcoming-events-banner .event-grid {
    grid-template-columns: 1fr;
    margin-left: 0;
    width: 100%;
  }
  .welcome .upcoming-events-banner .event-grid .event.full-calendar {
    grid-column: span 1;
    width: 90%;
    margin: 0 auto;
    background-color: white;
  }
  .welcome .upcoming-events-banner .event-grid .event.full-calendar > div:nth-child(1) {
    border: 1px solid grey;
    border-radius: 20px;
    color: black;
  }
  .welcome .upcoming-events-banner .event-grid .event.full-calendar > div:nth-child(1) > div:nth-child(1) {
    font-family: tangerine, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
  }
  .welcome .upcoming-events-banner .event-grid .event.event-item-1,
  .welcome .upcoming-events-banner .event-grid .event.event-item-2,
  .welcome .upcoming-events-banner .event-grid .event.event-item-3 {
    width: 85%;
    margin: 0 auto;
    height: 90%;
    padding: 5px 0;
  }
  footer {
    flex-direction: column;
  }
  footer .footer-grid {
    grid-template-columns: 1fr;
  }
  footer .footer-grid .footer-item.item-1 {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
  footer .footer-grid .footer-item.item-2 > div:nth-child(1) {
    flex-direction: column;
  }
  footer .footer-grid .footer-item.item-2 > div:nth-child(1) div {
    margin-bottom: 10px;
  }
  footer .footer-grid .footer-item.item-2 > div:nth-child(2) {
    display: none;
  }
  footer .footer-grid .footer-item.item-3 {
    width: 15%;
    justify-content: space-between;
  }
  footer .footer-grid .footer-item.item-3 a svg {
    margin: 0 auto;
  }
}