@import 'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Navbar

nav {

    .container {

        .navbar-brand {
            img {
                width: 275px;
                transition-duration: 0.2s;
            }

            img:hover {
                opacity: 0.5;
            }
        }
    }
}

// Welcome Page

.welcome {

    width: 100%;

    // Welcome Banner

    .welcome-banner {
        width: 100%;
        height: 500px;
        background-color: black;
        padding-top: 30px;

            .mission-statement,
            .mission-statement-two {
                color: white;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
    
            .mission-statement {
                font-size: 4rem;
                font-family: tangerine, Arial, Helvetica, sans-serif;
            }
    
            .mission-statement-two {
                font-size: 1.5rem;
                font-family: recursive, Arial, Helvetica, sans-serif;
            }
    
            .schedule-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 50%;
                margin: 0 auto;
                color: white;
                margin-top: 40px;
    
                .grid-item {
                    width: 100%;
                    justify-self: center;
                    text-align: center;
    
                    .item-title {
                        font-size: 1.5rem;
                    }
    
                    .item-time {
                        font-size: 1.1rem;
                    }
                }
    
                .grid-item.item-1,
                .grid-item.item-2 {
                    border-right: 1px solid white;
                }
            }
    
            .info-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 40%;
                margin: 0 auto;
                margin-top: 60px;
    
                .info-link {
                    justify-self: center;
                    align-self: center;
                    text-decoration: none;
                    color: black;
                    background-color: white;
                    width: 175px;
                    text-align: center;
                    padding: 10px;
                    border: 2px solid gray;
                    border-radius: 12px;
                    font-size: 1.2rem;
                    transition-duration: 0.25s;
                }
    
                .info-link:hover {
                    background-color: black;
                    color: white;
                }

                .livestream-flex {
                    background-color: black;
                    width: 175px;
                    padding: 10px;
                    margin: 0 auto;
                    border: 2px solid grey;
                    border-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;

                    div {
                        margin-right: 5px;
                        color: white;
                        font-size: 1.2rem;
                    }

                    svg {
                        color: red;
                    }
                }

                .livestream-flex:hover {
                    background-color: white;
                    border: 2px solid white;
                    div {
                        color: black;
                    }
                }
            }
        }

        // Upcoming Events Banner

        .upcoming-events-banner {
            width: 100%;
            height: 400px;
            background-color: white;
            padding-top: 30px;

            .event-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                width: 85%;
                height: 95%;
                margin-left: 50px;

                .event.full-calendar {
                    height: 100%;
                    width: 80%;
                    border-radius: 0px 50% 50% 0px;
                    display: flex;
                    align-items: center;
                    background-color: black;

                    > div:nth-child(1) {
                        margin: 0 auto;
                        width: 80%;
                        color: white;

                        > div:nth-child(1) {
                            font-size: 2.5rem;
                        }
                    }
                }

                .event.event-item-1,
                .event.event-item-2,
                .event.event-item-3 {
                    height: 80%;
                    margin: 0 auto;
                    width: 80%;
                    border: 1px solid gray;
                    align-self: center;
                }

                .event.event-item-1,
                .event.event-item-2,
                .event.event-item-3 {
                    > div:nth-child(1) {
                        img {
                            width: 100%;
                            height: 90%;
                        }
                    }

                    > div:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 1.1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    footer {
        background-color: black;
        color: white;
        height: 250px;
        display: flex;
        align-items: center;

        .footer-grid {
            display: grid;
            grid-template-columns: 2fr 3fr 1fr;
            width: 70%;
            margin: 0 auto;

            .footer-item.item-1 {

                img {
                    width: 60%;
                }
            }

            .footer-item.item-2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                > div:nth-child(1) {
                    display: flex;
                    width: 100%;

                    > div:nth-child(1),
                    > div:nth-child(2) {
                        margin-right: 20px;
                    }
                }

                > div:nth-child(2) {
                    width: 100%;
                    margin-right: 100px;
                    padding: 10px 0;
                }
            }

            .footer-item.item-3 {
                display: flex;
                align-self: center;
                justify-self: center;
                a {
                    svg {
                        width: 100%;
                        margin: 0 10px;
                    }
                }
            }
        }
    }


